.cache
.cask
.mc-lists.el
.python-environments
.tmp
ac-comphist.dat
anaconda-mode
auto-save-list
bookmarks
elpa
eshell
meghanada
network-security.data
notes
nov-places
projectile-bookmarks.eld
projectile.cache
recentf
request
smex-items
temp.*
themes
url
xkcd